<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <form action="/username/order/time" method="post">
    <input type="text" name="username">
    <input type="text" name="order">
    <input type="text" name="time">
    <input type="Submit" value="Send">
  </form>
</body>
</html>