<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone Number</th>
      <th>Email Address</th>
    </tr>
  </thead>
  <tbody>
  <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.name %></td>
      <td><%= contact.address %></td>
      <td><%= contact.phone_number %></td>
      <td><%= contact.email_address %></td>
    </tr>
  <% end %>
  </tbody>
</table>