<h1>Contacts List:</h1>
<ul>
    <% @contacts.each do |contact| %>
      <li><%= contact.name %> - <a href="/show/<%=contact.id%>">show full details</a>
        <a href="/favourite/<%=contact.id%>"><%= contact.favourite ? "Unfavourite" : "Favourite" %></a>
      </li>
    <% end %>
</ul>
<a href="/new">Create New Contact</a> <a href="/favourites">Favourites</a>

<form action="/search">
  <input type="text" name="search">
  <input type="submit" value="Submit">
</form>