<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>There are currently no projects</h1>
  <%= link_to("Home", root_path) %>
</body>
</html>